@import "src/styles/variables";
@import "src/styles/mixins";
@import "src/styles/functions";

.issue {
  background-color: $color-white;
  border-radius: 4px;
  padding: 8px 12px;

  &__title {
    @include line-clip(2, $is-flex-item: true);

    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    margin-bottom: 8px;
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    line-height: 16px;
    color: $color-text-grey;

    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }
}

.separator {
  display: block;
  padding-top: m-percentage(1, 24);
  width: 1.5px;
  background-color: $color-text-grey;
}
