@import "https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  color: inherit;
}

html,
body,
#root {
  min-height: 100%;
  height: 100%;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
}

body {
  color: $color-black;
  background-color: $color-grey;
  font-family: "Open Sans", sans-serif;
}

main.main {
  flex-grow: 1;
  height: 100%;
  min-height: 100%;
}

img {
  vertical-align: top;
}

svg {
  color: inherit;
  width: rem(24px);
  height: rem(24px);
}

a {
  &:link,
  &:visited {
    text-decoration: none;
  }
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 32px 120px 24px;
}
