@import "src/styles/variables";

.loader {
  border: 16px solid $color-white;
  border-radius: 50%;
  border-top: 16px solid $color-blue;
  width: 120px;
  height: 120px; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
