@import "src/styles/variables";

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;

  &__list {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    height: 100%;
    overflow-y: scroll;

    &--todo {
      background-color: $color-green;
    }

    &--progress {
      background-color: $color-yellow;
    }

    &--done {
      background-color: $color-pink;
    }
  }
}
